$baseColor: #5c87db;
$secondColor: #ffffff;
$labelColor: #8ba5d8;
$hoverBtn: #3e67b7;
$disableBtn: #b7bac1;
$error: #ee0000;
$lightFont: #ffffff;
$darkFont: #232323;
$mediumFont: #5c5c5c;
$shadow: rgba(112, 121, 153, 0.3);

$fontBase: clamp(16px, 3vw, 20px);
$fontTitle: clamp(22px, 4vw, 26px);
